# --------------------
# Project Files
# --------------------
# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.pytest_cache/

# --------------------
# Environment
# --------------------
# Virtual environment (Your 'venv' folder)
venv/

# Environment files that contain sensitive keys (e.g., database connection strings)
.env
.flaskenv

# --------------------
# Editor / IDE settings
# --------------------
# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# PyCharm
.idea/